body{
    display: flex;
     align-self: center;
     justify-self: center;
     height: 100vh;
     background: #843cb8;
}
  .envelope{
    position: relative;
    cursor: pointer;


  }
   .back{
    position: relative;
    width: 250px;
    height: 200px;
    background: #3a0db7;
}

.front{
    position: relative;
    border-right: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    z-index: 3;

}
.front::before{
    content: "";
    position: absolute;
    border-left: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left:-120px;

}

.front::after{
    position: absolute;
    border-bottom: 105px solid #7251b5;
    border-left: 125px solid transparent;
    border-right: 125px  solid transparent;
    height: 0;
    width:0;
    top: -5px;
    left: -120px;



}

 .top{
    position: absolute;
    border-top: 105px solid #9163cb;
    border-left: 125px solid transparent;
    border-right: 125px transparent;
    height: 0;
    width: 0;
    transform-origin: top;
    transition: 0.4s;
}